@charset "utf-8";

@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
/*
	Noto Sans KR
	font-weight:
		Thin		100
		Light		300
		*Regular	400
		Medium		500
		*Bold		700
		*Black		900
*/




/* reset */
	html,body {margin:0; padding:0; font-family:'Noto Sans KR',Arial,sans-serif; font-weight:400; font-size:16px; height:100%; color:#000; -webkit-text-size-adjust:none; position:relative; line-height:1.2;}
	dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote {margin:0; padding:0; -webkit-text-size-adjust:none;}
	th,td,input,textarea,select {font-size:16px; color:#000; font-family:'Noto Sans KR',Arial,sans-serif; -webkit-text-size-adjust:none;}
	th,td {word-break:break-all; word-wrap:break-word; -webkit-text-size-adjust:none;}
	table {border-spacing:0; border-collapse:collapse; -webkit-text-size-adjust:none; border:0; table-layout:fixed;}
	address,caption,cite,code,dfn,var {font-style:normal; font-weight:400; -webkit-text-size-adjust:none;}
	em {font-style:normal; -webkit-text-size-adjust:none;}
	ol,ul,li {list-style:none;}
	h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:900;}
	abbr,acronym {border:0;}
	hr,legend,caption {visibility:hidden; overflow:hidden; line-height:0; width:0; height:0; margin:0; padding:0;}
	img,fieldset {border:0 none;}
	label {cursor:pointer;}
	a {color:inherit;}
	a:link, a:visited, a:hover {color:inherit; text-decoration:none;}
	a:active {text-decoration:none;}
	input,img {vertical-align:middle;}
	.hidden_obj {position:absolute; visibility:hidden; overflow:hidden; height:0; line-height:0; width:0; margin:0; padding:0; font:0/0 Arial;}

	* {outline:0;}
	body {min-width:1460px;}


/*
*	layout
*/
	#header_container {position:absolute; left:0; right:0; top:0; z-index:3000;}
	#header_container .header_inner {width:1460px; margin:0 auto; height:110px; position:relative;}
	#header_container .logo {position:absolute; left:55px; top:25px;}
	#header_container .gnb_wrap {position:absolute; right:64px; top:47px;}
	#header_container .gnb_wrap li {float:left; margin-left:32px;}
	#header_container .gnb_wrap a {display:block; padding:0 7px; line-height:16px; height:16px; border-radius:8px; font-size:13px; transition:all 0.5s;}
	#header_container .gnb_wrap a:hover,
	#header_container .gnb_wrap a.on {background-color:#deb528;}

	#body_container {min-height:100%; box-sizing:border-box; padding-bottom:76px; background:url("../images/bg_pattern01.jpg") 18px 0 repeat;}

	#footer_container {box-sizing:border-box; padding-top:17px; height:76px; margin-top:-76px; background-color:rgba(68,68,68,0.1); text-align:center;}







/*
*	main (index)
*/
	#main_container {min-height:100%; box-sizing:border-box; padding:0 0 76px;}

	#main_container .intro_section {width:1460px; margin:0 auto; height:1008px; position:relative;}
	#main_container .intro_section .layer {position:absolute;}
	#main_container .intro_section .layer.bg {left:0; bottom:0;}
	#main_container .intro_section .layer.bg.animated {animation-duration:1.5s;}
	#main_container .intro_section .layer.obj {right:0; bottom:0;}
	#main_container .intro_section .layer.obj.animated {animation-delay:1s; animation-duration:2s;}
	#main_container .intro_section .layer.tit {left:653px; top:232px;}
	#main_container .intro_section .layer.tit.animated {animation-delay:2s; animation-duration:1.5s;}
	#main_container .intro_section .layer.txt {left:175px; top:519px;}
	#main_container .intro_section .layer.txt.animated {animation-delay:2.5s; animation-duration:1.5s;}

	#main_container .content_sectoin {text-align:center;}

	#main_container .content_sectoin#section01 {padding-top:85px;}
	#main_container .content_sectoin#section01 .title {margin-bottom:54px;}
	#main_container .content_sectoin#section01 .cont {font-size:0; padding-bottom:122px;}
	#main_container .content_sectoin#section01 .cont li {display:inline-block; vertical-align:middle; margin:0 53px;}
	#main_container .content_sectoin#section01 .cont a {display:block; width:240px; height:240px; position:relative;}
	#main_container .content_sectoin#section01 .cont img {transition:transform 0.5s;}
	#main_container .content_sectoin#section01 .cont .default {}
	#main_container .content_sectoin#section01 .cont .over {position:absolute; left:0; top:0; visibility:hidden;}
	#main_container .content_sectoin#section01 .cont a:hover .default {display:none;}
	#main_container .content_sectoin#section01 .cont a:hover .over {transform:scale(1.1); visibility:visible;}

	#main_container .content_sectoin#section02 {padding-bottom:146px;}








/*
*	서브페이지
*/
	#body_container {}

	#body_container .intro_section {text-align:center; position:relative;}
	#body_container .intro_section .layer {position:absolute;}

	#body_container .content_section {text-align:center; padding:109px 0 60px;}
	#body_container .content_section .title {margin-bottom:100px;}
	#body_container .content_section .cont {width:1120px; margin:0 auto;}
	#body_container .content_section .cont ul {margin-top:-69px; overflow:hidden;}
	#body_container .content_section .cont li {float:left; margin:69px 50px 0 50px; position:relative;}
	#body_container .content_section .cont .motion {position:absolute; left:72px; top:18px; box-sizing:border-box; border:5px solid #000; border-radius:50%; width:320px; height:320px; overflow:hidden; background-color:#bfc8a5;}
	#body_container .content_section .cont .motion img {margin:-5px;}
	#body_container .content_section .cont .motion img:last-child {display:none;}
	#body_container .content_section .cont .motion:hover img:first-child {display:none;}
	#body_container .content_section .cont .motion:hover img:last-child {display:block;}





/*
*	반려견
*/
	#body_container.dog_page {}

	.dog_page .intro_section {background-color:#bfc8a5; overflow:hidden;}
	.dog_page .intro_section .inner {width:1460px; margin:0 auto; position:relative;}
	.dog_page .intro_section .layer.cloud01 {left:103px; top:325px;}
	.dog_page .intro_section .layer.cloud01.animated {animation-delay:0.2s;}
	.dog_page .intro_section .layer.cloud02 {left:-260px; top:414px;}
	.dog_page .intro_section .layer.cloud02 img.animated {animation-delay:0.2s; animation-duration:1.5s;}
	.dog_page .intro_section .layer.dog {left:-110px; top:312px;}




/*
*	반려묘
*/
	#body_container.cat_page {}

	.cat_page .intro_section {background-color:#f1d6a1;}
	.cat_page .intro_section .layer.cat {left:0; bottom:0;}
	.cat_page .intro_section .layer.cloud01 {left:-44px; top:341px;}
	.cat_page .intro_section .layer.cloud01.animated {animation-delay:0.2s;}
	.cat_page .intro_section .layer.cloud01 img.animated {animation-duration:2.5s;}
	.cat_page .intro_section .layer.cloud02 {left:236px; top:387px;}
	.cat_page .intro_section .layer.cloud02 img.animated {animation-duration:1.5s;}
	.cat_page .intro_section .layer.cloud03 {left:431px; top:262px;}
	.cat_page .intro_section .layer.cloud03.animated {animation-delay:0.4s;}

	#body_container.cat_page .content_section .cont .motion {background-color:#f1d6a1;}



/*
*	반려조
*/
	#body_container.sae_page {}

	.sae_page .intro_section {background-color:#c3cee1;}
	.sae_page .intro_section .layer.cat {left:0; bottom:0;}
	.sae_page .intro_section .layer.cloud01 {left:-44px; top:341px;}
	.sae_page .intro_section .layer.cloud01.animated {animation-delay:0.2s;}
	.sae_page .intro_section .layer.cloud01 img.animated {animation-duration:2.5s;}
	.sae_page .intro_section .layer.cloud02 {left:236px; top:387px;}
	.sae_page .intro_section .layer.cloud02 img.animated {animation-duration:1.5s;}
	.sae_page .intro_section .layer.cloud03 {left:431px; top:262px;}
	.sae_page .intro_section .layer.cloud03.animated {animation-delay:0.4s;}

	#body_container.sae_page .content_section .cont .motion {background-color:#c3cee1;}


/*
*	반려몽
*/
	#body_container.mon_page {}

	.mon_page .intro_section {background-color:#d6d0eb;}
	.mon_page .intro_section .layer.cat {left:0; bottom:0;}
	.mon_page .intro_section .layer.cloud01 {left:-44px; top:341px;}
	.mon_page .intro_section .layer.cloud01.animated {animation-delay:0.2s;}
	.mon_page .intro_section .layer.cloud01 img.animated {animation-duration:2.5s;}
	.mon_page .intro_section .layer.cloud02 {left:236px; top:387px;}
	.mon_page .intro_section .layer.cloud02 img.animated {animation-duration:1.5s;}
	.mon_page .intro_section .layer.cloud03 {left:431px; top:262px;}
	.mon_page .intro_section .layer.cloud03.animated {animation-delay:0.4s;}

	#body_container.mon_page .content_section .cont .motion {background-color:#d6d0eb;}





























@-webkit-keyframes floats {
  from {
    transform:translate(0,0);
  }
  60% {
    transform:translate(0,10%);
  }
  to {
    transform:translate(0,0);
  }
}
@keyframes floats {
  from {
    transform:translate(0,0);
  }

  50% {
    transform:translate(0,10%);
  }

  to {
    transform:translate(0,0);
  }
}

.floats {
  -webkit-animation-name:floats; animation-name:floats;
  -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out; animation-timing-function:ease-in-out;
  -webkit-animation-duration:2s; animation-duration:2s;
}

@-webkit-keyframes scaleUp {
  from {
  	opacity:0;
    transform:scale(0.7,0.7);
  }

  to {
  	opacity:1;
    transform:translate(1);
  }
}
@keyframes scaleUp {
  from {
  	opacity:0;
    transform:scale(0.7,0.7);
  }

  to {
  	opacity:1;
    transform:translate(1);
  }
}

.scaleUp {
  -webkit-animation-name:scaleUp; animation-name:scaleUp;
  -webkit-animation-duration:0.8s; animation-duration:0.8s;
}



@-webkit-keyframes scaleDown {
  from {
  	opacity:1;
    transform:translate(1);
  }

  to {
  	opacity:0;
    transform:scale(0,0);
  }
}
@keyframes scaleDown {
  from {
  	opacity:1;
    transform:translate(1);
  }

  to {
  	opacity:0;
    transform:scale(0,0);
  }
}

.scaleDown {
  -webkit-animation-name:scaleDown; animation-name:scaleDown;
  -webkit-animation-duration:0.5s; animation-duration:0.5s;
}


@-webkit-keyframes flashLight {
  from,
  33%,
  66%,
  to {
    opacity: 1;
  }

  16.5%,
  49.5%,
  8.25% {
    opacity: 0;
  }
}

@keyframes flashLight {
  from,
  12%,
  24%,
  36%,
  to {
    opacity: 1;
  }

  6%,
  18%,
  30% {
    opacity: 0;
  }
}

.flashLight {
  -webkit-animation-name: flashLight; animation-name: flashLight;
  -webkit-animation-duration:3.5s; animation-duration:3.5s;
}